<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<link rel="stylesheet" href="../stylesheets/index.css">

<body>
    <main>
        <header class="navbar-header">
            <div class="container">
                <div class="navbar-header_content">
                    <div class="navbar-logo">
                        <img src="https://img.freepik.com/free-vector/hand-drawn-flat-design-anarchy-symbol_23-2149242490.jpg?t=st=1716019253~exp=1716022853~hmac=a34584f061fa5811c156693b5da29f60e7ff1d57ec270684ebeb34308f33b722&w=900"
                            alt="logo">
                    </div>
                    <nav class="navbar-header_navigation">
                        <ul class="navbar-links">
                            <li class="navbar-link-item">
                                <a href="#" class="navbar-link">Home</a>
                            </li>
                            <li class="navbar-link-item">
                                <a href="#" class="navbar-link">About</a>
                            </li>
                            <li class="navbar-link-item">
                                <a href="#" class="navbar-link">Showcase</a>
                            </li>
                            <li class="navbar-link-item">
                                <a href="#" class="navbar-link">Premium</a>
                            </li>
                            <button class="btn btn-primary">
                                <%= name %>
                            </button>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <section class="hero-section">
            <div class="container">
                <h1 class="hero-section_title">Why should you try <q><span class="quoted-text">Albo
                            Strategies</span></q> to leveling up your startup?</h1>
                <div class="hero-section_cards">
                    <div class="hero-section_card card-1">
                        <div class="hero-section_card_content">
                            <h2 class="hero-section_card_title">Expert Guidance</h2>
                            <p class="hero-section_card_description">Benefit from industry expertise to navigate the
                                complexities of startup growth effectively</p>
                        </div>
                    </div>
                    <div class="hero-section_card card-2">
                        <div class="hero-section_card_content">
                            <h2 class="hero-section_card_title">Personalized Solutions</h2>
                            <p class="hero-section_card_description">Receive individualized attention and customized
                                solutions designed to address your unique goses in your Startup</p>
                        </div>
                    </div>
                    <div class="hero-section_card card-3">
                        <div class="hero-section_card_content">
                            <h2 class="hero-section_card_title">Vibrant Community</h2>
                            <p class="hero-section_card_description">Connect with like-minded entrepreneurs, industry
                                leaders, and potential investors to exchange ideas and explore new opportunities.</p>
                        </div>
                    </div>
                    <div class="hero-section_card card-4">
                        <div class="hero-section_card_content">
                            <h2 class="hero-section_card_title">Being Always At The Top</h2>
                            <p class="hero-section_card_description">Unlock the full potential of your startup with
                                Albo's comprehensive support, personalized solutions, and vibrant community</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <script src="/javascript/script.js"></script>
</body>

</html>